<!DOCTYPE HTML>
<html>
<head>
<title>Threat Information Statistics</title>
<script src="http://www.google.com/jsapi"></script>
<!-- To use Highcharts uncomment the following 2 lines and delete the previous one
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
-->
<script src="http://ankane.github.io/chartkick/chartkick.js"></script>
</head>
<body>
<center>
<h1>Threat Information Statistics</h1>
{% line_chart data %}
{% pie_chart data  %}
{% column_chart data %}
{% bar_chart data %}
{% area_chart data %}
</center>
</body>
